.swiper {
    height: 60vh;
}

.swiper-slide {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top center;
}

.swiper-button-next {
    transform: translate(-200%, 0);
    position: absolute;
    bottom: 0;
}