.container {
  height: 100vh;
  margin: auto;
  width: 80vw;
  position: relative;
  padding: 0;
  max-width: 1200px;
}



.nav {
  background-color: #f8f8f8;
  border: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  width: 80vw;
  max-width: 1200px;
  padding: 0;
  margin: 0;
  top: 0;
  height: 10vh;
  max-height: 140px;
  margin-bottom: 68px;
}

.nav__logo {
  background-image: url(./img/logo.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  height: 32%;
  width: 12%;
}

.nav__titles {
  width: 44%;
  font-size: 0.7em;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.nav__phoneNumber {
  text-decoration: underline 1.5px solid black;
  font-size: 0.9em;
}

.nav__title._active {
  border-bottom: solid 2px #EC671F;
  transform: translateY(1px);
}


.nav__language {
  background: transparent;
  border: 0;
  font-size: 0.9em;
}











h1 {
  color: white;
  font-style: bold;
}

header {
  background-image: url(./img/bg1.jpg);
}









@media (max-width:767px) {
  .container {
    width: 98vw;
  }

  .nav {
    width: 100vw;
  }
}